AWS_REGION="eu-central-1"
AWS_PROFILE= # needed if not using the default AWS profile
CLOUDFLARE_API_TOKEN= # custom domain hosted in Cloudflare
CLOUDFLARE_DEFAULT_ACCOUNT_ID= # custom domain hosted in Cloudflare
DBMATE_MIGRATIONS_DIR="./migrations"
SUPABASE_SECRET_KEY= # used only by the get-token script
TEST_USER_EMAIL=

SUPABASE_URL=
DATABASE_URL=
